html, body{
  font-family: Lato, sans-serif;
  color:#424551;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.container{
  max-width: 1230px ;
  padding:0 15px;
  margin: 0 auto;
  height: 100%;
}
.button{
display: inline-block;
letter-spacing: 0.5px;
line-height: 52px;
font-weight: 700;
padding:0 40px;
color: #fff;
border-radius: 4px;
background: linear-gradient(#FF3F3A 100%, #F75E05 100%);
white-space: nowrap;
}
.button:hover{
  transform: scale(1.1);
}
.empty{
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  background-size: 100% 2px;
  background-position: 0 100% 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}
.empty span{
  background: linear-gradient(55.95deg,#FF3F3A, #F75E05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
}


/* --------------- */

.header{
  font-weight: 700;
  color:#424551;
  background: url(/images/decor/shapes-bg.svg) 0 30% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top {

}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 0;
}
.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}
.header__nav-list {
  display: flex;
  
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child{
  margin-right: 0;
}
.header__nav-link {
  /* font-weight: 700;
  line-height: 160%;
  color: #424551; */
  white-space: nowrap;
  line-height: 1.6;
}
  .header__nav-link:hover{
    color: red;
}
.header__btn-box {
  display: flex;
  align-items: center;
  
}
.header__top-btn {
  white-space: nowrap;
  margin-right: 36px;
}
.header_user-nav{
  position: relative;
  padding-left: 28px;
}
.header_user-nav::before {
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50);
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;

}
.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
}
.header__user-btn:hover{
  color: #FF3F3A;
}


.header__body {
  flex-grow: 1;
}

.header__body-inner {
  height: 100%;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(15, 14, 15);
  margin: auto 0;
}
.header__container {
  margin-right: 30px;
}
.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}
.header__play svg{
  margin-right: 16px;
  transition: all .3s;
  border-radius: 50%;
}
.header__play:hover svg{
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
  
}
.header__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  min-width: 500px;
  margin-bottom: 60px;
}
.header__content-buttons {
  display: flex;

}
.header__content-btn {
  margin-right: 24px;
}
.header__content-btn:last-child {
  margin-right: 0px;
}
.header__img {
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(15, 14, 15);
  margin-bottom: 80px;
  margin-top: 150px;
}
.header__row>span{
  background: rgb(240, 20, 20);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 15px;

}
.header__row-item {
  display: flex;
  align-items: center;
}
.header__row-item span{
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}
